Incorrect reference?

The "Public Keys" section of "Behaviour: Resource Servers" page (https://specs.amwa.tv/is-10/releases/v1.0.0/docs/4.5._Behaviour_-_Resource_Servers.html#public-keys) includes the following text:

"it SHOULD attempt to obtain the missing public key via the the token iss claim as specified in RFC 8414 section 3"

From what I can see, RFC8414 section 3 does not describe how to obtain public keys via the token iss claim. Initially I thought this was an error in INFO-002, but it seems the INFO-002 text is copied from IS-10.

Additionally, it seems some OAuth2 implementations/code includes a "kid" parameter in the JWT header to provide the public key ID that it has been signed with. Should some reference to that be included in this section?